.normalMode {
    display: none;
}
.editMode {
    display: block;
}
a {
    cursor: pointer;
}

h1 .additional {
    font-size: 18px;
    color: #999999;
}
h2 .additional {
    font-size: 16px;
    color: #999999;
}
h3 .additional {
    font-size: 14px;
    color: #999999;
}

.employeeDetails h4 input,
.employeeDetails h5 select,
.employeeDetails select.chooseSpecialities
{
    width: 167px;
    padding: 3px;
    margin: 0 0 3px 0;
    font-weight: normal;
}

.employeeDetails h5 select {
    width: 167px;
    padding: 5px;
    margin: 0;
}

.employeeDetails select.chooseSpecialities {
    width: 167px;
    padding: 5px;
    margin: 0 0 5px 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.error {
    display: none;
    padding: 20px;
}
.success {
    display: none;
    padding: 20px;
}

.photo {
    padding: 10px;
}
#photo {
    width: 200px;
    margin: 20px;
    display: inline-block;
}
#avatar {
    /*position: absolute;*/
    /*right: 25px;*/
    /*top: 65px;*/
    height: 100px;
}
.photoThumb {
    display: block;
    width: auto;
    height: 100px;
    overflow: hidden;
    float: right;
}
#fileDetails {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}